// $primaryColor: #3db549;
// $secondaryColor: #95dcf9;
// $ternaryColor: #1c75bc;

// $gradient: linear-gradient(#3235e8 100%, #45b3ef 0%);

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");

$primaryColor: #3235e8;
$secondaryColor: #45b3ef;

$black: #212121;
$white: #fff;

// $primaryFont: "Libre Franklin", sans-serif;
$primaryFont: "Tangerine", cursive;

$gradient: linear-gradient(to top, #3235e8, #45b3ef);
